<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testng_jenkins.afterClass()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:42</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testng_jenkins.afterMethod()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testng_jenkins.afterMethod()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testng_jenkins.afterMethod()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:42</td>   <td>32</td> <td title="&lt;&lt;testng_jenkins.afterSuite()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:42</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;testng_jenkins.afterTest()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:37</td>   <td>-4699</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testng_jenkins.beforeClass()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:37</td>   <td>-4699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testng_jenkins.beforeMethod()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:42</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testng_jenkins.beforeMethod()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testng_jenkins.beforeMethod()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:37</td>   <td>-4715</td> <td title="&gt;&gt;testng_jenkins.beforeSuite()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:37</td>   <td>-4699</td> <td>&nbsp;</td><td title="&gt;&gt;testng_jenkins.beforeTest()[pri:0, instance:testng_jenkins.testng_jenkins@5702b3b1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testng_jenkins.test2()[pri:3, instance:testng_jenkins.testng_jenkins@5702b3b1]">test2</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:42</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testng_jenkins.test3(java.lang.Integer, java.lang.String)[pri:2, instance:testng_jenkins.testng_jenkins@5702b3b1]">test3</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>16/08/04 21:06:37</td>   <td>-4699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testng_jenkins.verifyPageTitle(java.lang.Integer, java.lang.String)[pri:1, instance:testng_jenkins.testng_jenkins@5702b3b1]">verifyPageTitle</td> 
  <td>main@717386707</td>   <td></td> </tr>
</table>
